[Unit]
Description=BruteFIR DRC convolution engine
After=sound.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Environment=HOME=/home/giacomo
Environment=PATH=/usr/local/bin:/usr/bin:/bin
ExecStart=/home/giacomo/DRC/brutefir-conf/drc.sh restore
ExecStop=/home/giacomo/DRC/brutefir-conf/drc.sh off
