[Unit]
Description=DRC audio routing when USB DAC is connected
After=sound.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Environment=HOME=/home/giacomo
Environment=PATH=/usr/local/bin:/usr/bin:/bin
ExecStartPre=/bin/sleep 1
ExecStart=/home/giacomo/DRC/brutefir-conf/drc.sh restore
ExecStop=/home/giacomo/DRC/brutefir-conf/drc.sh off
